<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
    <script src="./assets/vue-3.3.4/dist/vue.global.prod.js"></script>
    <script src="./assets/axios-1.5.0/dist/axios.min.js"></script>
    <script src="./assets/moment-2.29.4/moment.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        div.section {
            display: inline-block;
            width: 50%;
        }

        table, tr td {
            border: 1px solid #000;
        }

        tbody {
            display: block;
            height: 500px;
            overflow: auto;
        }

        thead, tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        thead {
            width: calc(100% - 1em);
        }


    </style>
</head>
<body>
<div id="app">
    <div class="section left">
        <div>
            <button @click="queryList">刷新</button>
            <button @click="generate">生成一个（不安全的）</button>
            <button @click="safeGenerate">生成一个（安全的）</button>
            <button @click="generateMany">生成100个（不安全的）</button>
            <button @click="safeGenerateMany">生成100个（安全的）</button>
        </div>
        <div style="text-align: center">
            <table>
                <thead>
                <tr>
                    <th>规则名称</th>
                    <th>规则表达式</th>
                    <th>最新编号</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in displayRules">
                    <td>{{item.ruleName}}</td>
                    <td>{{item.expression}}</td>
                    <td>{{item.latestNumber}}</td>
                    <td>{{item.lastModifiedDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section right">
        <div>
            <button @click="queryRecordList">刷新记录</button>
        </div>
        <div style="text-align: center">
            <table>
                <thead>
                <tr>
                    <th>id</th>
                    <th>recordNumber</th>
                    <th>更新时间</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in displayRecords">
                    <td>{{item.id}}</td>
                    <td>{{item.recordNumber}}</td>
                    <td>{{item.lastModifiedDate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<script>
    const {createApp} = Vue
    createApp({
        data() {
            return {
                rules: [],
                records: [],
            }
        },
        methods: {
            queryList() {
                axios({
                    method: 'get',
                    url: '/autonumber/queryAllList'
                }).then(res => {
                    this.rules = res.data.data
                })
            },
            generate() {
                axios({
                    url: '/autonumber/generate/1',
                    method: 'post'
                }).then(res => {
                    this.queryList();
                    this.queryRecordList();
                })
            },
            safeGenerate() {
                axios({
                    url: '/autonumber/safeGenerate/1',
                    method: 'post'
                }).then(res => {
                    this.queryList();
                    this.queryRecordList();
                })
            },
            generateMany() {
                for (let i = 0; i < 100; i++) {
                    axios({
                        url: '/autonumber/generate/1',
                        method: 'post'
                    })
                }
            },
            safeGenerateMany() {
                for (let i = 0; i < 100; i++) {
                    axios({
                        url: '/autonumber/safeGenerate/1',
                        method: 'post'
                    })
                }
            },
            queryRecordList() {
                axios('/autonumber/recordList').then(res => {
                    this.records = res.data.data;
                })
            }
        },
        computed: {
            displayRules() {
                return this.rules.map(x => ({
                    ...x,
                    lastModifiedDate: moment(x.lastModifiedDate).format('YYYY-MM-DD HH:mm:ss.SSS')
                }))
            },
            displayRecords() {
                return this.records.map(x => ({
                    ...x,
                    lastModifiedDate: moment(x.lastModifiedDate).format('YYYY-MM-DD HH:mm:ss.SSS')
                }))
            }
        },
        mounted() {
            this.queryList();
        }
    }).mount('#app')
</script>
</body>
</html>
